<%- include('partials/header') %>
<%- include('partials/navBar') %>

       
    <section>

    <img class="emp-img" src="images/dev-emp.jpg"/>
    <!-- <form class="login"> -->
    <div class='emp-login'>
        <h1 class="emp-header-name"></h1>
        <h4 class="emp-id ">Employee ID:15DE47001</h4><br>
    </div>
    <!-- <button style="color: black;">Submit</button> -->
    <!-- </form > -->

    <br><hr><br>
</div>


  <div id="employee-details"></div>
<!-- 
<div class="em-cont container">
    <div class="row">
      <div class="em-scol col-1">
        <i class="fas fa-id-card"></i>  
      </div>
      <div class="em-lcol col">
          Information Technology Department
      </div>
    </div>
    </div>

    <div class="em-cont container">
        <div class="row">
          <div class="em-scol col-1">
            <i class="fas fa-fingerprint"></i>  
          </div>
          <div class="em-lcol  col">
              25/09/2020 <em class="bruh">09:21:56 AM</em><i class="fas fa-check" style="margin-left: 45px; color: green;  background-color: #edc988;"></i>
          </div>
        </div>
        </div>

        <div class="em-cont container">
            <div class="row">
              <div class="em-scol col-1">
                <i class="fas fa-heartbeat"></i>  
              </div>
              <div class="em-lcol  col" style="margin-left: 222px;">
                  Last Recorded Pulse <span style="color: green; margin-left: 100px; font-weight: bolder; background-color: #edc988;">95</span>
              </div>
            </div>
            </div>

            <div class="em-cont container">
                <div class="row">
                  <div class="em-scol col-1">
                    <i class="fas fa-head-side-cough"></i>
                  </div>
                  <div class="em-lcol  col " style="margin-left: 222px;">
                      Last 30 Minutes <span style="margin-left: 150px; color: red; font-weight: bolder; background-color: #edc988;">59</span>
                  </div>
                </div>
                </div> -->
<%- include('partials/footer-employee') %>
